*{
    margin: 0;
}

.title{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px black;
}

.container{
    background-image: url(../Images/doggo.jpg);
    height: 100vh;
    background-size: 215vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.dog-card{
    margin-top: 15px;
}